.input-field {
  position: relative;
  margin-top: 15px;
}

.input {
  border: 1px solid rgb(201, 200, 200);
  padding: 15px;
  border-radius: 10px;
  outline: none;
}

.input-banner {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(16px, -60%);
  color: rgb(201, 200, 200);
  transition: all 300ms;
}

.input:focus + label {
  font-size: 12px;
  top: 2%;
  background: var(--white-color);
  padding: 2px;
  color: var(--main-color);
  font-weight: var(--thickness-medium);
}

.input:focus ~ label,
.input:valid ~ label {
  font-size: 12px;
  top: 2%;
  background: var(--white-color);
  padding: 2px;
  color: var(--main-color);
  font-weight: var(--thickness-medium);
}
.input:focus,
.input:valid {
  border: 1px solid var(--main-color);
}

.input:focus {
  border: 1px solid var(--main-color);
}
