.NewChatMenuRow {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NewChatMenuRow:hover {
  background-color: var(--hover-bg-color);
  cursor: pointer;
}

.icon {
  width: 20%;
  padding-left: var(--size-base);
}

