.toChatMenuWrapper {
  width: 98%;
  display: flex;
  margin-left: 2%;
  height: 72px;
  transition: 0.05s;
}

.toChatMenuWrapper:hover {
  background-color: var(--hover-bg-color);
  cursor: pointer;
  border-radius: 10px;
}

.dialogAvatar {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}

.userCaption {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  height: 42px;
  line-height: 42px;
}

.userTitle {
  width: 70%;
  color: white;
  font-size: var(--size-small);
  font-weight: var(--thickness-semi-bold);
}

.dialogTitleDetails {
  width: 30%;
  color: #8a8a8a;
  font-size: var(--size-micro);
  padding-left: 25px;
}

.dialogSubTitle {
  width: 93%;
  height: 32px;
  color: #8a8a8a;
  font-size: var(--size-small);
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="search"]:hover {
  border: 1px solid #707579;
}
