.container {
  position: absolute;
  width: 230px;
  right: 10px;
  top: 65px;
  padding: 13px 0px;
  border-radius: 15px;
  box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 24%);
  background-color: var(--darkGrey-color);
}

.hide {
  display: none;
}

.icon {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconHover {
  position: absolute;
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--darkGrey-color);
  transition: 0.2s;
  border: none;
}

.icon:hover > .iconHover {
  background-color: var(--hover-bg-color);
}

.textColor {
  width: 80%;
  font-weight: var(--thickness-semi-bold);
  text-align: left;
  padding-left: var(--size-large-responsive);
  color: red;
}

.text {
  width: 80%;
  color: white;
  font-weight: var(--thickness-semi-bold);
  text-align: left;
  padding-left: var(--size-large-responsive);
}
