.formContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  text-align: center;
}

.logo {
  max-width: 200px;
}

.loginFormTitle {
  margin: 20px 0 10px 0;
}

.loginBtn {
  border-radius: 25px;
  background: var(--main-color);
  color: var(--white-color);
  border: none;
  outline: none;
  padding: 10px;
  font-size: var(--size-base);
  margin-top: 15px;
  width: 210px;
  cursor: pointer;
}

.errorMessage {
  width:180px;
  margin: 5px auto;
  color: var(--error-color);
  font-size: var(--size-smallest);
  font-style: italic;
}
