.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkGrey-color);
  padding: 5px;
}

.chatUtils {
  display: flex;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
}

.chatInfo {
  display: flex;
  align-items: center;
}

p {
  color: var(--message-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.context {
  max-width: 400px;
  margin-left: 10px;
}

.icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.icon:hover {
  background: var(--hover-bg-color);
}
.navBarChatFullName {
  color: #fff;
}
