.message {
  color: var(--white-color);
  padding: 4px;
  display: inline-block;
}

.messageTime {
  color: var(--message-color);
  display: inline-block;
}

.myMessage {
  background: var(--purple-color);
  margin-top: 5px;
  border-radius: 15px 15px 0 15px;
  padding: 5px;
  width: fit-content;
}

.otherUserMessage {
  background: var(--darkGrey-color);
  margin-top: 5px;
  border-radius: 15px 15px 15px 0;
  padding: 5px;
  width: fit-content;
}

.myBubble {
  display: flex;
  flex-direction: row-reverse;
}